header {
    background-color: #b33339;
    color: #fff;
    padding: 15px 0;
}

.header-container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0;
    font-size: 1.5rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff9800;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content p {
    margin: 0;
    font-size: 14px;
}

.socials {
    display: flex;
    gap: 15px;
}

.socials a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.socials a:hover {
    color: #ff9800;
}


@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .nav-links a {
        display: block;
        margin: 10px 0;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
        gap: 10px;
        position: static;
        
    }

    .socials {
        justify-content: center;
        flex-wrap: wrap;
    }

    .socials a {
        margin: 5px 0;
    }
}
@media (min-width: 769px) and (max-width: 1000px) {
  body {
    background-color: lightblue;
  }
}
